.MyOffersAsClub {
    text-align: center;
    background-color: rgb(240, 247, 240);
    padding: 20px 10% 20px 10%;
}

.modal-content-centered {
    text-align: center;
    margin: 0 auto;
}

.button-spacing {
    margin-right: 10px;
}

/* Responsive Table */
.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table-responsive table {
    min-width: 600px;
}

.offer-row {
    line-height: 4;
}

/* Mobile Specific Styles */
@media (max-width: 576px) {
    .table-responsive table {
        min-width: 100%;
    }
}

.clubOffer-name-label {
    color: rgb(148, 141, 42);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
}

.clubOffer-position-label {
    color: rgb(99, 99, 92);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
}

.clubOffer-section {
    color: rgb(162, 146, 38);
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
}